.desc {
	width: inherit;
	height: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.desc__text {
	width: 54%;
	margin: 0 auto;
}
.desc__title {
	margin-bottom: 30px;
	font-family: $font1;
	font-size: 45px;
	font-weight: bold;
	line-height: 40px;
}
.desc__subtitle {
	font-family: $font1;
	font-size: 24px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.75);
}
.desc__img {
	margin: 0 auto;
}

.desc__img img{
	width: 476px;
}