@import "_var";

.product{
	height: 585px;
	padding: 60px 0;
}

.product__title{
	margin-bottom: 60px;
	font-family: $font1;
	font-size: 40px;
	color: $color;
	font-weight: 500;
	text-align: center;
}
.product__gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product__card{
	width: 440px;
	height: 290px;
	border: 2px solid #0043A4;
	border-radius: 10px;
	padding: 30px 20px;
	background-color: white;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease 0s;
}
.product__card:first-child{
	margin-right: 20px;
}
.product__card:hover{
	box-shadow: 0px 0px 6px 1px $color;
}

.product__card > div{
	text-align: center;
}

.card__title {
	margin-bottom: 20px;
	position: relative;
	top: 0;
	font-family: $font1;
	font-size: 28px;
	font-weight: 500;
}
.card__desc {
	position: relative;
	font-family: $font1;
	font-size: 18px;
	font-weight: 300;
}
.card__img {
	margin: 40px 0;
}