@import "_var";


.news {
	width: inherit;
	margin: 0 auto;
	padding: 60px 0 60px 0;
	text-align: center;
}

.news__title{
	margin: 0 auto;
	font-family: $font1;
	font-weight: 500;
	font-size: 40px;
	color: $color;
}

.news__div{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.news__item {
	width: 354px;
	text-align: left;
	font-family: $font1;
}

.news__item > .news__title{
	color: #000;
	font-weight: 500;
	font-size: 24px;
}
.news__desc {
	margin-top: 30px;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
}
.news__line {
	width: 1px;
	height: 170px;
	margin: 0 35px;
	color: black;
	background-color: black;
}