@import "_var";



.scroller{
	width: 90px;
	height: 40px;
	margin: 50px;
	position: fixed;
	z-index: 9999;
	bottom: 0%;
	right: 0%;
	display: flex;
	opacity: 0.8;
	border-radius: 7px;
	text-decoration: none;
	background-color: $color;
	box-shadow: 2px -2px 6px -2px #000000;
	transition: 400ms ease-out 0s;
}
.scroller:hover {
	margin-bottom: 60px;
	opacity: 1;
}

.scroller > button{
	margin: 0 auto;
	background-color: inherit;
	color: #fff;
	font-family: $font1;
	font-size: 18px;
}
